---
import type { MarkdownInstance } from "astro";
import BlogPost from "../../components/BlogPost.astro";
import HeadingsList from "../../components/HeadingsList.astro";
import Layout from "../../layouts/Layout.astro";
import { slugify } from "../../utils/slugify";

type PostResult = {
    params: {
        slug: string;
    };
    props?: {
        post: MarkdownInstance<Record<string, any>>;
    };
}[];

export async function getStaticPaths() {
    const posts = await Astro.glob("../../content/blog/*.md");
    const filteredPosts = posts.filter(({ frontmatter }) => !frontmatter.draft);

    const paths: PostResult = filteredPosts.map((post) => ({
        params: { slug: slugify(post.frontmatter) },
        props: { post },
    }));

    return paths;
}

const { post } = Astro.props;
const headings = post.getHeadings();
---

<Layout title={post.frontmatter.title}>
    <div class="container">
        <div class="sidebar left">
            <p>TODO: posts list sidebar</p>
        </div>
        <div class="center-content">
            <BlogPost post={post} />
        </div>
        <div class="sidebar right">
            <HeadingsList headings={headings} title={post.frontmatter.title} />
        </div>
    </div>
</Layout>

<style>
    .container {
        position: relative;
        display: flex;
    }
    .sidebar {
        align-self: flex-start;
        top: 0;
        position: sticky;
        padding: 1.5rem;
    }
    .center-content {
        flex: 1;
    }
</style>
