---
import BlogPostList from "../../components/BlogPostList.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Blog";
---

<Layout title={title}>
    <main class="w-prose">
        <h1>{title}</h1>
        <BlogPostList />
    </main>
</Layout>
