---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Isaiah Althouse">
	<main>
		<h1>
			Hi there, I'm <span class="text-gradient">Isaiah</span>
		</h1>

		<p>
			A web-developer specializing in Express & React, figuring things out
			as I go! 🤓
		</p>

		<p>
			Wanna see what I'm working on right now? Check out my <a
				href="/projects">Projects</a
			>!
		</p>

		<p>
			Some of the tech I've been using recently:
			<div>TODO: tech icon grid</div>
		</p>

		<p>
			Wanna reach out to me? <a href="/contact">Contact me directly</a>,
			or find me at any of these places: <div>TODO: social links</div>
		</p>

		<p>
			Wanna know what else I'm up to? I love illustration, photography,
			and hiking, and talk about these things from time to time on my <a
				href="/blog">Blog</a
			>!
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
