---
import type { MarkdownInstance } from "astro";

interface Props {
    post: MarkdownInstance<Record<string, any>>;
}

const { post }: Props = Astro.props;
const { frontmatter, Content } = post;
---

<main>
    <h1>{frontmatter.title}</h1>
    {frontmatter.createdAt && <div>Published on: {frontmatter.createdAt}</div>}

    <Content />
</main>

<style>
    main {
        max-width: 630px;
        margin: auto;
    }
</style>
