---
import type { MarkdownInstance } from "astro";

export interface Props {
    post: MarkdownInstance<Record<string, any>>;
}

const { post }: Props = Astro.props;
const { frontmatter, Content } = post;
---

<main class="w-prose">
    <h1>{frontmatter.title}</h1>
    {frontmatter.createdAt && <div>Published on: {frontmatter.createdAt}</div>}

    <Content />
</main>
