---
import { CollectionEntry, getCollection } from "astro:content";
import BlogPostPreview from "./BlogPostPreview.astro";

interface Props {
    filter?: (entry: CollectionEntry<"blog">) => boolean;
}

const { filter } = Astro.props;

const allPosts = await getCollection("blog");

const filteredPosts = filter ? allPosts.filter(filter) : [];

const posts = filteredPosts.length > 0 ? filteredPosts : allPosts;
---

<ul>
    {
        posts.map((post) => (
            <li>
                <BlogPostPreview post={post} />
            </li>
        ))
    }
</ul>
<style>
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        padding: 0.5rem 0;
    }
</style>
