---
import { CollectionEntry, getCollection } from "astro:content";
import BlogPostPreview from "./BlogPostPreview.astro";

interface Props {
    filterFn?: (entry: CollectionEntry<"blog">) => boolean;
}

const { filterFn } = Astro.props;

const allPosts = await getCollection("blog");

const filtered = filterFn ? allPosts.filter(filterFn) : [];

const pubDateSort = (
    a: CollectionEntry<"blog">,
    b: CollectionEntry<"blog">
) => {
    return a.data.publishedAt < b.data.publishedAt ? 1 : -1;
};

const posts = (filtered.length > 0 ? filtered : allPosts).sort(pubDateSort);
---

<ul>
    {
        posts.map((post) => (
            <li>
                <BlogPostPreview post={post} />
            </li>
        ))
    }
</ul>
<style>
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        padding: 0.5rem 0;
    }
</style>
