---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../utils/formatDate";

export interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { data } = post;
const { Content } = await post.render();
---

<div class="w-prose">
    <h1 class="text-gradient">{data.title}</h1>
    {
        data.publishedAt && (
            <p class="descriptive">Published {formatDate(data.publishedAt)}</p>
        )
    }
    <Content />
</div>
